<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/home">forUpwork</a>
    <button (click)="toggleCollapse()" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{ collapse: isCollapse }" class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href routerLink="/home" routerLinkActive="active"
                >Home</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href routerLink="/chart" routerLinkActive="active"
                >testCharts</a
                >
            </li>
            <li *ngIf="showUserContent" class="nav-item">
                <a class="nav-link" href routerLink="/user" routerLinkActive="active"
                >User</a
                >
            </li>
            <li *ngIf="showModeratorBoard" class="nav-item">
                <a
                        class="nav-link"
                        href
                        routerLink="/moderator"
                        routerLinkActive="active"
                >Moderator</a
                >
            </li>
            <li *ngIf="showAdminBoard" class="nav-item">
                <a class="nav-link" href routerLink="/admin" routerLinkActive="active"
                >Admin</a
                >
            </li>
        </ul>
        <ul *ngIf="!isLogIn" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href routerLink="register" routerLinkActive="active"
                >SignUp</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href routerLink="login" routerLinkActive="active"
                >LogIn</a
                >
            </li>
        </ul>
        <ul *ngIf="isLogIn" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a
                        class="nav-link"
                        href
                        routerLink="profile"
                        routerLinkActive="active"
                >{{ username }}</a
                >
            </li>
            <li class="nav-item">
                <a (click)="signOut()" class="nav-link" href>SignOut</a>
            </li>
        </ul>
    </div>
</nav>
