<div class="d-flex widget-header">
    <div class="text-wrap p-2">{{ widgetComponent.data.name }}</div>
    <div class="widget-buttons">
        <button (mousedown)="removeWidget()" class="btn close mr-3">
            <span class="material-icons">delete</span>
        </button>
        <button (mousedown)="openSettings()" class="btn close mr-3">
            <span class="material-icons">settings_applications</span>
        </button>
    </div>
</div>
<div class="d-flex p-2">
    <ng-template widget-body></ng-template>
</div>
