<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit notebook settings</h5>
        <button (click)="bsModalRef.hide()" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label> <input
                [(ngModel)]="name"
                class="form-control"
                id="name"
                type="text"
        />
        </div>
        <div class="form-group">
            <label for="note">Note</label> <textarea
                [(ngModel)]="note"
                class="form-control"
                id="note"
                type="text"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline-dark">Cancel</button>
        <button (click)="onConfirm()" class="btn btn-outline-dark">Save</button>
    </div>
</div>
