<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add widget</h5>
        <button (click)="bsModalRef.hide()" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-select [(ngModel)]="widget" [items]="widgets" bindLabel="data.name"></ng-select>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline-dark">Cancel</button>
        <button (click)="onConfirm()" class="btn btn-outline-dark">Add</button>
    </div>
</div>
