<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit chart settings</h5>
        <button (click)="bsModalRef.hide()" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label> <input [(ngModel)]="name" class="form-control" id="name" type="text"/>
        </div>
        <div class="form-group">
            <label for="type">Chart type</label>
            <ng-select
                    [(ngModel)]="type"
                    [items]="chartTypes"
                    id="type"
            ></ng-select>
        </div>
        <div class="form-group">
            <label for="sensorCount">Sensors count</label> <input
                [(ngModel)]="sensorCount"
                class="form-control"
                id="sensorCount"
                min="1"
                type="number"
        />
        </div>
        <div class="form-group">
            <label for="period">Chart period</label>
            <ng-select
                    [(ngModel)]="period"
                    [items]="chartPeriods"
                    id="period"
            ></ng-select>
        </div>
        <div class="form-group">
            <label for="color">Color scheme</label>
            <ng-select
                    [(ngModel)]="color"
                    [items]="colorSchemes"
                    bindLabel="name"
                    id="color"
            ></ng-select>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onCancel()" class="btn btn-outline-dark">Cancel</button>
        <button (click)="onConfirm()" class="btn btn-outline-dark">Save</button>
    </div>
</div>
