<div class="card mx-auto mt-5 p-3">
    <img alt="avatar.png" class="mx-auto py-3" src="assets/avatar.png"/>
    <div class="card-body">
        <form
            #form="ngForm"
            (ngSubmit)="form.valid && logInUser()"
            *ngIf="showForm; else success"
            novalidate
        >
            <div class="form-group">
                <label for="username">Username</label> <input
                #username="ngModel"
                [(ngModel)]="user.username"
                [ngClass]="{
            'is-invalid':
              username.invalid && (username.touched || form.submitted)
          }"
                class="form-control"
                id="username"
                maxlength="100"
                minlength="3"
                name="username"
                required
                type="text"
            />
                <div *ngIf="username.invalid" class="invalid-feedback">
                    <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">
                        Username must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group pb-3">
                <label for="password">Password</label> <input
                #password="ngModel"
                [(ngModel)]="user.password"
                [ngClass]="{
            'is-invalid':
              password.invalid && (password.touched || form.submitted)
          }"
                class="form-control"
                id="password"
                maxlength="100"
                minlength="3"
                name="password"
                required
                type="password"
            />
                <div *ngIf="password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 3 characters
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-dark btn-block">Log In</button>
            <div
                    *ngIf="form.submitted && showError"
                    class="alert alert-danger text-center mb-0"
            >
                {{ message.text }}
            </div>
        </form>
    </div>
</div>
<ng-template #success>
    <div *ngIf="!showForm" class="alert alert-success text-center">
        Hello, {{ username }}!<br/> Your roles: {{ roles }}
    </div>
</ng-template>
