<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">HTTP error occurred</h5>
        <button (click)="bsModalRef.hide()" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="errorNotification.code !== null">
            <strong>CODE:</strong> {{ errorNotification.code }}
        </p>
        <p *ngIf="errorNotification.text !== null">
            <strong>TEXT:</strong> {{ errorNotification.text }}
        </p>
        <p class="mb-0"><strong>URL:</strong> {{ errorNotification.url }}</p>
    </div>
</div>
