<div *ngIf="isLine" class="ngx-charts-line-chart">
    <ngx-charts-line-chart
            (select)="onSelect($event)"
            [legendTitle]="legendTitle"
            [legend]="legend"
            [results]="results"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [timeline]="timeline"
            [xAxisLabel]="xAxisLabelLine"
            [xAxis]="xAxis"
            [yAxisLabel]="yAxisLabelLine"
            [yAxis]="yAxis"
    >
    </ngx-charts-line-chart>
</div>
<div *ngIf="!isLine" class="ngx-charts-bar-horizontal">
    <ngx-charts-bar-horizontal
            (select)="onSelect($event)"
            [gradient]="gradient"
            [legendTitle]="legendTitle"
            [legend]="legend"
            [results]="results"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBar"
            [xAxis]="xAxis"
            [yAxisLabel]="yAxisLabelBar"
            [yAxis]="yAxis"
    >
    </ngx-charts-bar-horizontal>
</div>
