$material-icons-font-path: '~material-icons/iconfont/';

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.scss';

app-chart-widget-container {
  width: 100%;
}

.material-icons {
  vertical-align: -6px;
}

.modal-dialog {
  margin-top: 56px;
}
