<div class="container-fluid">
    <app-navbar></app-navbar>
    <ngx-spinner
            bdColor="rgba(0, 0, 0 ,0)"
            color="#666666"
            size="medium"
            type="ball-spin-clockwise"
    ></ngx-spinner>
    <router-outlet></router-outlet>
</div>
