<div class="jumbotron">
    <div class="row mb-3">
        <div class="col">
            <button (mousedown)="addWidget()" class="btn btn-outline-dark">
                <span class="material-icons">add</span>Add widget
            </button>
        </div>
        <div class="col text-right">
            <button (mousedown)="clearDashboard()" class="btn btn-outline-dark">
                <span class="material-icons">delete</span>Clear dashboard
            </button>
        </div>
    </div>
    <gridster [options]="gridsterConfig" class="gridster">
        <gridster-item *ngFor="let widget of dashboard" [item]="widget" class="gridster-item">
            <app-widget-container (removeWidgetChange)="removeWidget($event)" [widgetItem]="widget"></app-widget-container>
        </gridster-item>
    </gridster>
</div>
