.jumbotron {
  margin: 0;
  padding: 16px;
}

.gridster {
  background-color: #f7f7f7;
  height: calc(100vh - 142px);
}

.gridster-item {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(102, 102, 102, 0.2);
}
