<div class="container mt-5">
    <h5 class="text-center">ngx-charts-line-chart</h5>
    <div class="row">
        <div class="col">
            <ngx-charts-line-chart
                    (select)="onSelect($event)"
                    [legendTitle]="legendTitle"
                    [legend]="legend"
                    [results]="multi"
                    [scheme]="colorScheme"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [timeline]="timeline"
                    [view]="viewLine"
                    [xAxisLabel]="xAxisLabelLine"
                    [xAxis]="xAxis"
                    [yAxisLabel]="yAxisLabelLine"
                    [yAxis]="yAxis"
            >
            </ngx-charts-line-chart>
        </div>
    </div>
</div>
<div class="container">
    <h5 class="text-center">ngx-charts-bar-horizontal</h5>
    <div class="row">
        <div class="col">
            <ngx-charts-bar-horizontal
                    (select)="onSelect($event)"
                    [gradient]="gradient"
                    [legendTitle]="legendTitle"
                    [legend]="legend"
                    [results]="single"
                    [scheme]="colorScheme"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [view]="viewBar"
                    [xAxisLabel]="xAxisLabelBar"
                    [xAxis]="xAxis"
                    [yAxisLabel]="yAxisLabelBar"
                    [yAxis]="yAxis"
            >
            </ngx-charts-bar-horizontal>
        </div>
    </div>
</div>
