<table *ngIf="jwtToken; else logIn" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Variable</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Token</td>
        <td>{{ jwtToken.token }}</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>ID</td>
        <td>{{ jwtToken.id }}</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Username</td>
        <td>{{ jwtToken.username }}</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Email</td>
        <td>{{ jwtToken.email }}</td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td>Roles</td>
        <td>
            {{ roles }}
        </td>
    </tr>
    </tbody>
</table>
<ng-template #logIn>
    <div class="jumbotron">Please <a href routerLink="/login">Log In</a></div>
</ng-template>
